<h1><u>Name: <%= @business_service.name %></u></h1>
<h3><i>Description: <%= @business_service.description %></i></h3>

<b><u>Potential Clients:</u></b>

<% @potential_clients.each do |client| %>

    <% client.business_services.each do |service| %>
        <% if service.id == @business_service.id %>
            <ul>
            <li>Name: <%= client.name %><br>
            Last Contacted: <%= client.last_contacted %><br>
            Reply: <%= client.reply %><br>
            Business Service: <%= service.name %><br> 
            <%= link_to "See More",  business_service_potential_client_path(@business_service.id, client.id) %></li><br><br>
            </ul>
        <% end %>
    <% end %>
<% end %>

<br>
<%= link_to "Edit Business Service", edit_business_service_path(@business_service.id) %><br>
<%= link_to "Delete", business_service_path(@business_service.id), method: :delete %><br>
<%= link_to "Create a New Potential Client", new_business_service_potential_client_path(@business_service.id, @potential_client) %>

