<div id="about_business_service">
<h1><u>Name: <%= @business_service.name %></u></h1>
<h3><i>Description: <%= @business_service.description %></i></h3>
<p><%= @business_service.id %></p>
</div>
<b><u>Potential Clients:</u></b>

<p> Put list of clients here belonging to business_service</p>

<div id="potential-client-list">
<% @all_clients.each do |client| %>


    <% client.business_services.each do |service| %>

        <% if service.id == @business_service.id %>
            <ul>
            <li>Name: <%= client.name %><br>
            Last Contacted: <%= client.last_contacted %><br>
            Reply: <%= client.reply %><br>
            Business Service: <%= service.name %><br> 
            <a href="#" onclick="getClients(); return false;">Show More</a>
            <%#= link_to "See More",  business_service_potential_client_path(@business_service.id, client.id)</li><br><br> %>
            </ul>

        <% end %>
    <% end %>
<% end %>
</div>
<br><br>

<button><a href="#" onclick="getClients(); return false;">Display Potential Clients</a>
</button>
<br>
<div id="client-info"></div>
<br>
<br>

<button><a href="#" onclick="listenForNewClientForm(); return false;">Create a New Potential Client</a>
</button>
<div id="potential-client-form">
</div>
<br>
<br>




<% if false %>
<b><u>Links:</b></u><br>

<%= link_to "View Business Services", business_services_path %><br>

<%= link_to "Edit Business Service", edit_business_service_path(@business_service.id) %><br>
<%= link_to "View Agreed To Meeting", meetings_path %><br>
<%= link_to "Delete",  business_service_path(@business_service.id), method: :delete %><br>
<%= link_to "Create a New Potential Client", new_business_service_potential_client_path(@business_service.id, @potential_client) %>
<% end %>