<h1>Business Service Name</h1>
<p>Description</p>

Potential Clients:


<% @potential_clients.each_with_index do |client, i| %>
    Client #<%= i + 1 %> Name: <%= client.name %><br>
    URL: <%= link_to "See More", business_service_potential_client_path(client) %>
<% end %>



<%= link_to "Create a New Potential Client", new_business_service_potential_client_path(@service), class: 'button' %>
<%= link_to "Home", user_path(@user), class: 'button' %>
