<div class="text-center p-3 mb-2 bg-light text-dark">
<h1 class="shadow p-3 mb-5 bg-white rounded"><div class="potential-client-list"></div><h1>


<%# href="/business_services/${newId} %>
<a href="#" class="js-back" data-id="<%=@business_service.id %>"> Back</a>
<a href="#" class="js-next" data-id="<%=@business_service.id %>">Next Service</a>





<h3><i> Create a New Potential Client Form: </i></h3>
<%= form_for([@business_service, @potential_client], url: business_service_potential_clients_path(@business_service), method: :post) do |f| %>

    <%= f.label :name %>   
    <%= f.text_field :name %>
    <br><br>

    <%= f.label :last_contacted %>   
    <%= f.date_field :last_contacted %>
    <br><br>

    <%= f.label :reply %>   
    <%= f.text_area :reply %>
    <br><br>

    <%= f.label :follow_up %>   
    <%= f.date_field :follow_up %>
    <br><br>

    <%= f.label :agreed_to_meeting %>   
    <%= f.text_field :agreed_to_meeting %>
    <br><br>
    
    <%= f.submit id: "submit-button" %>
<% end %>

</div>