<div id="about_business_service">
<h1><u>Name: <%= @business_service.name %></u></h1>
<h3><i>Description: <%= @business_service.description %></i></h3>

</div>
<b><u>Potential Clients:</u></b>



<button><a href="#" onclick="getClients(); return false;">Display Potential Clients</a>
</button>
<br>
<div id="potential-client-list"></div>
<br>
<br>

<h3><i> Create a New Potential Client Form: </i></h3>
<%= form_for([@business_service, @potential_client], url: business_service_potential_clients_path(@business_service), method: :post) do |f| %>

    <%= f.label :name %>   
    <%= f.text_field :name %>
    <br><br>

    <%= f.label :last_contacted %>   
    <%= f.date_field :last_contacted %>
    <br><br>

    <%= f.label :reply %>   
    <%= f.text_area :reply %>
    <br><br>

    <%= f.label :follow_up %>   
    <%= f.date_field :follow_up %>
    <br><br>

    <%= f.label :agreed_to_meeting %>   
    <%= f.text_field :agreed_to_meeting %>
    <br><br>
    
    <%= f.submit id: "submit-button" %>
<% end %>





<% if false %>

<button><a href="#" onclick="listenForNewClientForm(); return false;">Create a New Potential Client</a>
</button>
<div id="potential-client-form">
</div>
<br>
<br>

<div id="potential-client-list">
<% @all_clients.each do |client| %>
    <% client.business_services.each do |service| %>
        <% if service.id == @business_service.id %>
            <ul>
            <li>Name: <%= client.name %><br>
            Last Contacted: <%= client.last_contacted %><br>
            Reply: <%= client.reply %><br>
            Follow Up: <%= client.follow_up %><br>
            Agreed To Meeting: <%= client.agreed_to_meeting %> <br>
            
            </ul>
        <% end %>
    <% end %>
<% end %>
</div>
<br><br>
<% end %>