<%# view all clients %>
<% @business_services.each do |service|%>
  <h2><%= service.id %>: <%= service.name %></h2>

  <div id="clients-belonging">
       <% @potential_clients.each do |client| %>
          <% client.business_services.each do |business| %>
            <% if service.name == business.name %>
              <li>Name: <u><%= client.name %></u><br>
                  Last Contacted: <%= client.last_contacted %><br>
                  Reply: <%= client.reply %><br>
                  Follow up: <%= client.follow_up %><br>
                  Agreed to Meeting: <%= client.agreed_to_meeting %><br>
                  <br>
              </li>
            <% end %>
          <%end %>
       <% end %> 
  </div>
<% end %>
</div>


