<h1>Log in Page</h1>

<%= flash[:error] %>

<%= form_for @user, url: '/login' do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @user} %>

    
    <%= f.label :username %>   
    <%= f.text_field :username %>
    <br>
    <br>

    <%= f.label :password %>   
    <%= f.password_field :password %>


<br><br>
    <%= f.submit "Sign In" %>
<% end %>

<p>Don't have an account? <%= link_to "Sign up", signup_path %></p>