<div class="text-center p-3 mb-2 bg-light text-dark">
<h1 class="shadow p-3 mb-5 bg-white rounded">Log in Page</h1>

<%= flash[:error] %>

<%= form_for @user, url: '/login' do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @user} %>

    
    <%= f.label :username %>   
    <%= f.text_field :username %>
    <br><br>

    <%= f.label :password %>   
    <%= f.password_field :password %>


<br><br>
    <%= f.submit "Sign In" %>
<% end %>

<p>Don't have an account? <%= link_to "Sign up", signup_path %></p>