<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    
  
    
    
    <title>B2B Marketing App</title>
  </head>

  <body>
    <section class="section">
      <div class="container">
        <h1 class='subtitle'>Welcome to the B2B Marketing App</h1>
      </div>

      <div class="column">
        Links:
       <%= link_to "Create a New Business Service", new_business_service_path %>
       <%= link_to "Display Business Services", business_services_path	%>
      <%= link_to 'Log Out', logout_path, method: :delete %> 
      </div>
      <hr>

      <%= yield %>

      <br>

      <button id="business-service-new-form">Create a Business Service</button>
      <div id="business-service-form">[form here]</div>

      <br>

      <button id="info-data">Display Business Services</button>
      <div id="info">[business services listed here]</div>

    </section>



  </body>
</html>
